
/********** Navbar *********/

*{
    margin:0;
}

.navbar{
 
    height:100px;
    width:100%;
    display:flex;

}


.navbar-items, .navbar-kfc{
    display:flex;
    align-items:center;
    margin-left:118px;
    
}


.navbar-link>a{
    text-decoration:none;
    cursor:pointer;
    color:black;
    font-weight:550;
    font-family:sans-serif;
    font-size:.85rem;
}

/********Navbar Left Side **********/

.mobile-signin{
    display:none;
}

#nav-toggle-bar{
    display:none;
    color:black;
    font-size:25px;
}

.navbar-left-side{
    margin-left:32px;
}

.nav-deals{
    margin-left:28px;
}

/******** Navbar Right Side ************/

.navbar-right-side {
    margin-left:auto;
    margin-right:50px;
}

.navbar-right-side>.navbar-link{
   padding-left:11px;
}

#nav-zero{
    position: relative;
    left: 18px;
    border-left: 1px solid #a8a5a5;
    font-size: 14px;
    color: #514e4e;
 
    padding:4px 5px 4px 17px;
}

.bucket-zero{
    font-weight: bolder;
    position: relative;
    right: 106px;
    font-size: 14px;
}


.nav-bucket{
    height:50px;
    width:auto;
    position:relative;
    margin-right:77px;
}

.man-emoji{
    padding-top:8px;
}

.left-man-emoji{
    display:none;
}

/* start order container */

#start-order-container{
    width:100%;
    height:65px;
    background-color:#212529;
    text-align:center;
    padding:10px 0;
    box-sizing:border-box;
}


.start-order{
    color:white;
    float:left;
    margin:auto;
    width:100%; 
    font-family:sans-serif;
    font-weight:700;
}

.start-order-btn{
    width:136px;
    height:44px;
    font-weight:500;
    border:1.5px solid #e4002b;
    border-radius:25px;
    background-color:#e4002b;
    margin-left: 10px;
    color:white;
    
    

}




/**************** Media Query **************/

@media only screen and (max-width : 768px){

    /* navbar left side / */

    .navbar{
        height:50px;
        padding-top:15px;
        padding-left:10px;
        box-sizing:border-box;
    }

    .navbar-left-side{
        flex-direction:column;
        position:relative;
        right:28%;
        line-height:30px;
        margin-top:111px;
        
    }

    .nav-deals{
        margin:0;
    }

    .show-icons{
        display:none;
    }


    .navbar-kfc{
       margin:auto;
       position:relative;
       left:28%;
    }

    .mobile-signin{
        display:flex;
    }
    
    .left-man-emoji{
        display:flex;
    }

    .man-emoji{
        display:none;
    }



    #nav-toggle-bar{
        display:initial;
        align-self:center;
        position:absolute;
        cursor:pointer;
    }

    .navbar-toggle-show{
        display:flex;
        background-color: aqua;
    }

    /* navbar right side */
    
    .navbar-right-side{
        text-align:right;
        left:110px;
        position:relative;
    }

    .nav-sign-in{
        display:none;
    }

    #nav-zero{
        border:none;
    }


    /* start order  */
    #start-order-container{
        height:120px;

    }

    .start-order{
        content: "\a";
        white-space:pre;
    }

    .start-order-btn{
        margin-top:25px;
    }


}